<!DOCTYPE HTML>
<html>
  <header>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
  </header>
  <body >
    <nav>
      <div id="tabs">
      <div class="tabs" id='aboutUs'>
          <b>
              About Us
          </b>
      </div>
      <div class="tabs" id='projects'>
          Projects
      </div>
      <div class="tabs" id='blog'>
          Blog
      </div>
      <div class="tabs" id='team'>
          Team
      </div>
      <div class="tabs" id='joinUs'>
          Join Us
      </div>
      <input class="tabs">
      </input>
      <div class="tabs" id="topRightLogo">
      <img src=... > </img>
      </div>
    </div>
    </nav>
    <div id="statement">
          We share our plans openly so that all of us understand the concrete
          steps we can take to build a better future. Each project listed on the
          GoodlyLabs website includes a progress bar reporting its status and a
          page at the Open Science Framework allowing researchers to join our
          efforts. We invite anyone to participate in our work  – as a
          volunteer, research collaborator, sponsor, or social media fan.
    </div>
    <div id="threeStep">
      <h3>
        The 3-Step Learning Process
      </h3>
    </div>
    <div id="threeStepBlocks">
      <div class="blocks" id="firstBlock">
        <div class="circle" id="firstCircle">
            <div class="number"> 1 </div>
        </div>
        <div class="rectangle" id="firstRec">
          <div class="blockHeader" id="firstBlockHeader">
              Acknowledge
          </div>
          <div class="blockBody" id="firstBlockBody">
                  Goodly is using a mass-collaborative research software so that
                  we can investigating questions, including:
                - How can we develop a collective immunity to faulty information?
                - What information in a news article is credible and what
                  portions seem mistaken or poorly supported?
                - How do different societies (in different places and at
                  different times) promote different notions of race and gender?
                - How do peoples’ grievances get expressed through protest
                - How can governments and civil society address those grievances
                  more peacefully and effectively?
          </div>
        </div>
      </div>
      <div class="blocks" id="secondBlock">
        <div class="circle" id="secondCircle">
             <div class="number"> 2 </div>
        </div>
        <div class="rectangle" id="secondRec">
          <div class="blockHeader" id="secondBlockHeader">
              Demonstrate
          </div>
          <div class="blockBody" id="secondBlockBody">
                Goodly will organize, publicize, and film a collective
                “GlobalWave,” where people from around the world come into the
                streets and demonstrate that we can act in concert as a global
                community. This historic event will require little from
                individual participants, but deeply reshape the consciousness of
                humanity as we prove to ourselves that properly used Internet
                technologies give us the capacity to act as a community without
                needing the initiative or permission of our governments or other
                traditional institutions. We can do what we want without needing
                to change the old way of doing things.
          </div>
        </div>
      </div>
      <div class="blocks" id="thirdBlock">
        <div class="circle" id="thirdCircle">
            <div class="number"> 3 </div>
        </div>
        <div class="rectangle" id="thirdRec">
          <div class="blockHeader" id="thirdBlockHeader">
              Rebuild & Grow
          </div>
          <div class="blockBody" id="thirdBlockBody">
                Goodly will deploy SamePage, a free software that consists of a
                set of online collective decision-making tools that communities
                of all sizes will be able to use to set priorities, research
                problem solutions, and deliberate about tradeoffs and courses of
                action. Over the next five years, the Goodly community will
                communicate using both social and traditional media and seek
                partnerships with video production and distribution companies to
                ensure that our work, findings, process, mission, and values are
                accessible in the world’s most popular and viral medium.
                Goodly’s tools and approaches will be widely available to any
                community seeking to consciously improve individual and
                collective welfare.
          </div>
        </div>
      </div>
    </div>
  </body>
  <div id="footer">
    <div id="footText" class="footerTop">
      <div id="footGoodlyLabs">
        Goodly Labs
        </div>
      <div>
        info@goodlylabs.org
       </div>
      <div>
        UC Berkeley Institute of Data Science
      </div>
    </div>
    <div id="logos" class="footerTop">
      <div class="logos" id="facebook">
        <img src=...> </img>
      </div>
      <div class="logos" id="twitter">
        <img src=...> </img>
      </div>
      <div class="logos" id="linkedin">
        <img src=...> </img>
      </div>
      <div class="logos" id="youtube">
        <img src=...> </img>
      </div>
    </div>
  </div>
</html>
